html {
  position: relative;
  height: 100%;
}
body {
  height: 100%;
}
.titulo-tabla,
.titulo-tabla h2 {
  margin-bottom: 10px;
  margin-top: 2px;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
}
.footer {
  padding: 15px;
  height: 55px;
}
.form-signin {
  height: 100%;
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading{
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"],
.form-signin input[type="password"]{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
