{{# partial "titulo" }}
    <title>Empresas Ordenadas por Metodologia</title>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var t = $('#tablaEmpresas').DataTable({"order": [],"searching": false});
            t.on( 'order.dt search.dt', function () {
       		 t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
       		 } );
    		} ).draw();
        } );
    </script>
{{/partial}}
		
{{# partial "contenido" }}
    <div class="row">
        <div class="titulo-tabla">
            <h2>Empresas según Metodología: {{miMetodologia}}</h2>
        </div>
    </div>

    <div class="col-md-12">
    <table id="tablaEmpresas" class="display" cellspacing="0" width="100%" >
        <thead>
        <tr>
			<th class="col-md-1">Ranking</th>
            <th class="col-md-7">Empresa (orden descendente de mejor a peor inversion)</th>
        </tr>
        </thead>
        <tbody>
        {{#empresas}}
            <tr>
            	<td class="col-md-1"></td>
                <td class="col-md-7">{{nombre}}</td>
            </tr>
        {{/empresas}}
        </tbody>
    </table>
    </div>
{{/partial}}

{{# partial "scriptFinal"}}
    <script type="text/javascript">
        $('#tablaEmpresas')
                .removeClass( 'display' )
                .addClass('table table-striped table-bordered');
    </script>
{{/partial}}

{{> layout.hbs }}