{{# partial "titulo" }}
    <title>Mis indicadores</title>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#tablaIndicadores').DataTable();
        } );
    </script>
{{/partial}}

{{# partial "contenido" }}
    <div class="row">
        <div class="titulo-tabla">
            <h2>Mis indicadores</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <p class="small">
                Para consultar el valor de un indicador selecione una <a href="/empresas" target="_blank">empresa</a> y un periodo.
            </p>

        </div>
    </div>
    <table id="tablaIndicadores" class="display" cellspacing="0" width="100%" >
        <thead>
            <tr>
                <th>Indicadores</th>
                <th>Formula</th>
            </tr>
        </thead>
        <tbody>
        {{#indicadores}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{formula}}</td>
            </tr>
        {{/indicadores}}
        </tbody>
    </table>
{{/partial}}

{{# partial "scriptFinal"}}
    <script type="text/javascript">
        $('#tablaIndicadores')
                .removeClass( 'display' )
                .addClass('table table-striped table-bordered');
    </script>
{{/partial}}

{{> layout.hbs }}