{{# partial "titulo" }}
    <title>Login</title>
{{/partial}}

{{# partial "contenido" }}
    <form class="form-signin" action="/login" method="POST">
        <h2 class="form-signin-heading">Please login</h2>
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        {{#if errorLogin}}
            <div class="alert alert-danger" role="alert">
                El username o el password son incorrectos.
            </div>
        {{/if}}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
{{/partial}}

{{> layout.hbs }}