{{# partial "titulo" }}
    <title>Periodos de {{empresa.nombre}}</title>
{{/partial}}

{{# partial "contenido" }}
    <div class="row">
        <div class="col-md-12">
            <label>Periodos:</label>
            <div class="list-group">
                {{#empresa.periodos}}
                <a href="/empresas/{{empresa.id}}/periodos/{{this}}/cuentas" class="list-group-item">{{this}}</a>
                {{/empresa.periodos}}
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs }}